<!doctype html>
<html lang="en" class="h-100">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <meta name="description" content="">
    <meta name="author" content="Crypto Water">
    <title>Crypto Water</title>
</head>

<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-static-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://cryptowater.si">CryptoWater.si</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">

                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="flex-shrink-0">
    <div class="container">

        <div class="row text-center mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <form id="form_address_submit" method="POST" action="/">
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1"
                                data-bs-toggle="modal"
                                data-bs-target="#scan_address_modal">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                 height="16"
                                 fill="currentColor" class="bi bi-upc-scan"
                                 viewBox="0 0 16 16">
                                <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5zM3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
                            </svg>
                        </button>
                        <input id="address" name="address" type="text" class="form-control" placeholder="Address"
                               aria-label="Address"
                               aria-describedby="basic-addon1">
                        <button class="btn btn-outline-success" type="submit" id="check_address" value="Check"
                                class="form-control">Check
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-md-auto"></div>
        </div>

        <div class="row text-center">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <div class="card" style="width: 25rem;">
                    <div class="card-header">
                        Lanacoin Address
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">First seen: 28.01.2021</li>
                        <li class="list-group-item">Balance: 250.35000000</li>
                        <li class="list-group-item">Last seen: 30.02.2021</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-auto"></div>
        </div>
    </div>
</main>


<div class="modal" id="scan_address_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Scan Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="reader" width="600px" height="600px"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">© 2021 CRYPTOWATER</span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/html5-qrcode/minified/html5-qrcode.min.js"></script>


<script>
    function onScanSuccess(qrMessage) {
        // handle the scanned code as you like, for example:
        console.log(`QR matched = ${qrMessage}`);
        document.getElementById("address").value = qrMessage;
        document.getElementById("form_address_submit").submit();
    }

    function onScanFailure(error) {
        // handle scan failure, usually better to ignore and keep scanning.
        // for example:
        console.warn(`QR error = ${error}`);
    }

    let html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", {fps: 10, qrbox: 250}, /* verbose= */ false);
    html5QrcodeScanner.render(onScanSuccess, onScanFailure);
</script>

</body>
</html>